.bgBlur{
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
}

.colorBg{
  background: rgb(58,178,197);
  background: radial-gradient(circle, rgba(58,178,197,1) 0%, rgba(0,0,0,1) 64%);
}
.colorBg1{
  background: rgb(58,178,197);
  background: radial-gradient(circle, rgba(58, 179, 197, 0.371) 0%, rgba(0,0,0,1) 64%);
}
.colorBg2{
  background: rgb(58,178,197);
  background: radial-gradient(circle, rgba(58, 179, 197, 0.24) 0%, rgba(0,0,0,1) 64%);
}

.btnColor{
    background-color: #0f444c;
}
.btnColor:hover{
  transform: scale(1.09);
  transition: all ease-in-out 0.3s;
}

.textAnimate{
  animation: color infinite linear 4s   ;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0f444c;
}

@keyframes color {
  0%, 100%{
    color: #197987;
    -webkit-text-stroke-width: 2px;
  }
  50%{
    color:  transparent;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #1b7684;
  }
}

.active{
  color:#138293;
}
.underline:active{
  opacity: 1;
}

.underline{
  opacity: 0;
}

.sidebarBg{
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,1) 31%, rgba(0,212,255,0.5383403361344538) 100%);
}

.container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}